/* ==== HEADER PRINCIPAL ==== */
.hospital-header {
    background: linear-gradient(135deg, #003366 0%, #004d99 100%);
    color: white;
    padding: 1rem 0;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.hospital-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    padding: 6px;
}

.hospital-name h1 { margin: 0; }
.hospital-name p { margin: 0; opacity: 0.8; }

/* ==== ESTILO DE CUADROS AZULES ==== */
.section-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #e2e8f0;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 12px;
    border-left: 10px solid #003366;
}

.section-badge {
    background: #003366;
    color: white;
    padding: 0.25rem 1rem;
    border-radius: 20px;
}

/* ==== CAMAS ==== */
.camas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 1.5rem;
    padding: 1.5rem;
}

.cama {
    position: relative;
    width: 60%;
    cursor: pointer;
    transition: 0.3s;
}

/*Imagen de cama*/
.cama img {
    width: 100%;
    height: auto;
    display: block;
}

/*Overlay de color*/
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

/* Texto sobre la cama */
.cama-info {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
    font-size: 0.7rem;
}

/* Colores para estado */
.disponible .overlay {
    background: #2b201e; /* verde */
}

.ocupada .overlay {
    background: #003366; /* rojo */
}

.cama:hover {
    transform: scale(1);
}

/* ===== MODAL ===== */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: rgb(255, 255, 255);
    padding: 2rem;
    width: 350px;
    border-radius: 12px;
    text-align: center;
    font-size: 0.20in;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}

.modal-content h2 {
    margin-bottom: 2rem;
}
